footer {
    color: white;
    background-color: rgb(83, 41, 83);;
    text-align: center;
    position: fixed;
    bottom: 0;
    right: 0;
    left: 0;
    z-index: 1030;
}
.navbar{
    background-color: rgb(83, 41, 83)!important;
}