<section class="pb-5">
<div class="container pt-2 mt-5 pb-5 mb-5">
    <div class="row justify-content-sm-center pt-5">
      <div class="col-sm-6 shadow round pb-3">
        <h1 class="text-center pt-3 text-secondary">Modificar</h1>
        <form [formGroup]="formModificar" >
          <div class="form-group">
            <label class="col-form-label">Id:</label>
            <input formControlName="Id" type="text" class="form-control" maxlength="30" disabled="true">
          </div>
          <div class="form-group">
            <label class="col-form-label">Nombre:</label>
            <input formControlName="FirstName" type="text" class="form-control" maxlength="10">
            <small *ngIf="nombreCtrl?.invalid && nombreCtrl?.touched" class="text-danger">El nombre es requerido</small>
          </div>
          <div class="form-group">
            <label class="col-form-label">Apellido:</label>
            <input formControlName="LastName" type="text" class="form-control" maxlength="20">
            <small *ngIf="apellidoCtrl?.invalid && apellidoCtrl?.touched" class="text-danger">El apellido es
              requerido</small>
          </div>
          <div class="form-group">
            <label class="col-form-label">Titulo:</label>
            <input formControlName="Title" type="text" class="form-control" maxlength="30">
          </div>
          <div class="form-group">
            <label class="col-form-label">Direccion:</label>
            <input formControlName="Address" type="text" class="form-control" maxlength="60">
          </div>
          <div class="form-group">
            <label class="col-form-label">Region:</label>
            <input formControlName="Region" type="text" class="form-control" maxlength="15">
          </div>
          <div class="form-group">
            <label class="col-form-label">Ciudad:</label>
            <input formControlName="City" type="text" class="form-control" maxlength="15">
          </div>
          <div class="form-group">
            <label class="col-form-label">Codigo Postal:</label>
            <input formControlName="PostalCode" type="text" class="form-control" maxlength="10">
          </div>
          <div class="form-group">
            <label class="col-form-label">Pais:</label>
            <input formControlName="Country" type="text" class="form-control" maxlength="15">
          </div>
          <div class="form-group">
            <label class="col-form-label">Telefono:</label>
            <input formControlName="HomePhone" type="text" class="form-control" maxlength="24">
          </div>
          <button [disabled]="!formModificar.valid"  class="btn btn-success w-100 mt-2" (click)="modificar()">Guardar cambios</button>
        </form>
      </div>
    </div>
  </div>
</section>