.secciones {
    color: white;
    position: relative;
    max-width: 600px;
    margin-top: 100px;
    border-radius: 25px;
    background: black;
    margin-bottom: 100px;
}

footer {
    color: white;
    background-color: #343a40;
    text-align: center;
}
