.secciones {
    color: white;
    position: relative;
    max-width: 600px;
    margin-top: 100px;
    border-radius: 25px;
    background: black;
    margin-bottom: 100px;
}

.forms {
    max-width: 450px;
    margin-bottom: 100px;
    padding-bottom:100px;
    background-color: transparent !important;
    color: black;
    text-align:left;
}

footer {
    color: white;
    background-color: #343a40;
    text-align: center;
}
